---
import BaseLayout from "../layouts/BaseLayout.astro";
import Sidebar from "../components/Sidebar.astro";
import Section from "../components/Section.astro";
import ExperienceItem from "../components/ExperienceItem.astro";
import EducationItem from "../components/EducationItem.astro";
import { profileBlind, sidebarSectionsBlind, workBlind } from "../config/config-blind";
---

<BaseLayout title={`${profileBlind.name} - Blind CV`}>
  <main
    class="flex justify-center gap-2 items-center h-20 screen-only text-center"
  >
    <button
      class="px-4 py-2 border border-neutral-300 hover:border-accent transition rounded"
      onclick="window.location.href = '/'"
    >
      Go back
    </button>
    <button
      onclick="window.print()"
      class="px-4 py-2 bg-accent text-white rounded">Print / Save as PDF</button
    >
  </main>

  <div class="mx-auto w-[210mm] bg-white shadow-xl print:shadow-none">
    <!-- Fix for sidebar full height of last page for print -->
    <div class="hidden print:block print-bg-sidebar" aria-hidden="true"></div>
    <div class="grid grid-cols-[280px_1fr] relative z-10">
      <Sidebar sections={sidebarSectionsBlind} hideContact={true} />
      <div class="flex flex-col repeat-offset">
        <header class="px-8 pt-8 pb-4 border-b border-neutral-300 avoid-break">
          <h1 class="font-heading text-4xl tracking-wider font-extrabold">
            {profileBlind.name.toUpperCase()}
          </h1>
          <div class="text-neutral-700 mt-1">
            {profileBlind.role}
          </div>
          <p
            class="text-sm text-neutral-700 mt-3 text-justify leading-relaxed max-w-3xl"
          >
            {profileBlind.summary}
          </p>
        </header>

        <div class="p-8 space-y-6">
          <Section title="Work Experience" icon="briefcase">
            {workBlind.map((w) => <ExperienceItem {...w} />)}
          </Section>

          <Section title="Education" icon="literature">
            <EducationItem
              school="Lodz University of Technology"
              degree="Engineering degree in Applied Computer Science"
              period="Oct 2019 - Mar 2024"
            />
          </Section>
        </div>
      </div>
    </div>
  </div>
  <footer class="h-20"></footer>
</BaseLayout>
